var filters = {
  toFix: function (value) {
    return value.toFixed(2) // 此处2为保留两位小数，保留几位小数，这里写几
  }
}

var replaceTime = function (str) {
  return str.substring(0, 10);
}

var replaceTimeYM = function (str) {
  return str.substring(0, 7);
}

module.exports = {
  toFix: filters.toFix, toNumber: filters.toNumber,
  replaceTime: replaceTime,
  replaceTimeYM: replaceTimeYM
}